
@font-face {
    font-family: MotoGpDisplay;
    src: url(../fonts/MotoGP-Display-Bold.ttf);
  }
  @font-face {
    font-family: MotoGPText;
    src: url(../fonts/MotoGPText-Regular.ttf);
  }

  body {

    background-color: #160258 !important;

  }

  .lgx-header .menu-onscroll {
    background-color: #160258 !important;
}
.lgx-header .lgx-navbar .lgx-logo {
margin-top: 1.5rem !important;
}

  .hero {
    position: relative;
    text-align: center;
    color: white;
  }

  .bottom-centered {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .bottom-centered h1 {
    font-family: 'MotoGPDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    color: #FFFFFF;
    line-height: 100%;
    margin-bottom: 1rem;
    /* identical to box height */

    text-align: center;
}
  .bottom-centered p {
    font-family: 'MotoGPText';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 100%;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}
  

  .cek-peserta {
    position: relative;
    text-align: center;
  }

  .jadwal {
    cursor: pointer;
    width: 400px;
    height: 200px;
    background:url(../img/images/BGJd.svg);
    color: white;
    font-family: 'MotoGpDisplay';
    border-radius: 12px;
    display: flex;
    justify-content: center;
    row-gap: 1rem;
  }

  .jadwal:hover {
    border: 1px solid #7001B5;
  }

  .lgx-header .menu-onscroll .lgx-nav-right .lgx-search, .lgx-header-position-white .lgx-nav-right .lgx-search a, .lgx-header-position-white .lgx-navbar .lgx-nav li a  {
    font-family: 'MotoGPText' !important;
    font-weight: 400;
    font-size: 24px !important;
    text-transform: capitalize !important; 
    }


  .text-wrapper {
    align-self: center;
  }

  .jadwal .title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'motoGpText';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
  }

  .jadwal .subtitle {
    color: #FFFFFF;
    text-align: center;
    font-family: 'motoGpText';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
  }

  
  .cek-peserta h1 {
    font-family: 'motoGpDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3vw;
    color: #FFFFFF;
    text-transform: uppercase; 
    margin-bottom: 3rem;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .custom-search {
    position: relative;
    width: 380px;
  }
  .custom-search-input {
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
  }
  .custom-search-botton {
    position: absolute;
    right: 10px;
    width: 100px; 
    top: 6px;
    bottom: 6px;
    border: 0;
    background: linear-gradient(95.94deg, #138DDA 6.29%, #FD40D9 94.3%);
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }

.jadwal-section {
    margin-bottom: 6rem;
}
 .general-information {
    padding: 2.5% 10%;
}
.jadwal-section h1 {
    font-family: 'motoGpDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 6rem;
  }
  .general-information h1 {
    font-family: 'motoGpDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 5rem;
  }

  .general-information p {
    font-family: 'motoGpText';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 3rem;
  }

  .jadwals, .gis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
  }
  

  @media only screen and (max-width: 480px) {
    .jadwal {
        width : 80px;
    }
    .jadwal p{
        font-size : 1em;
    }
    .custom-search {
    width: 370px;
    }
    .general-information p {
    font-size: 1em;
    }
}

  @media only screen and (max-width: 767px) {
    .jadwal {
        width : 120px;
    }
    .jadwal p{
        font-size : 1em;
    }
    .jadwal .subtitle {
    font-size: 1em;
    }
    .jadwal .title {
    font-size: 1.5em;
    }
    .general-information p {
    font-size: 1em;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .jadwals, .gis {
        /* grid-template-columns: repeat(1, 1fr); */
      }
    .jadwal {
        width : 240px;
    }
    .jadwal .subtitle {
    font-size: 1em;
    }
    .jadwal .title {
    font-size: 1.5em;
    }
    .jadwal p{
        font-size : 1em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .jadwal {
        width : 340px;
    }
    .jadwal p{
        font-size : 1em;
    }
}

@media only screen and (min-width: 1200px) {

}
  
.timelines {
    padding: .5% 10%;
    margin: 0 auto;
  }

  .timeline {
    margin-bottom: 5rem;
  }
  
  .timeline hr .solid {
    background: #FFFFFF;
    opacity: 0.5;
  }
  
  .timeline .jam {
    font-family: 'MotoGPText';
    font-style: normal;
    font-weight: 300;
    font-size: 1.8vw;
    line-height: 1.8vw;
    color: #C4B3FF;
  
    margin-right: 10%;
  }
  .timeline .keterangan {
    font-family: 'MotoGPDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 2.5vw;
  /* identical to box height */
  
    text-transform: uppercase;
  
    color: #C4B3FF;
  
  }

  
  .kuis-section h1 {
    font-family: 'motoGpDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3vw;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; 
  }
  .kuis-section p {
    font-family: 'MotoGPText';
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 2.5vw;
    /* identical to box height */
    margin-bottom: 6rem;
    text-align: center;
    
    color: #FFFFFF;
  }

  .kuis {
    margin-bottom: 5rem;
  }

  
    .kuis hr .solid {
    background: #FFFFFF;
    opacity: 0.5;
  }
  
  .kuis .jam {
    font-family: 'MotoGPText';
    font-style: normal;
    font-weight: 300;
    font-size: 1.8vw;
    line-height: 2vw;
    color: #C4B3FF;
  
    margin-right: 10%;
  }
  .kuis .keterangan {
    font-family: 'MotoGPDisplay';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 2.5vw;
  /* identical to box height */
  
    text-transform: uppercase;
  
    color: #C4B3FF;
  
  }

  .kuis-section {
    padding: 2.5% 10%;
    background: url(../img/images/BGKuis.png);
    background-size: cover;
  }
  
footer {
    background: #7001B5 !important;
    color: #f1f1f1 !important;
    text-align: center;
    padding: 2rem;
  }

  .mid-container {
    padding: 2.5% 0;
    background: url(../img/images/MMS.svg);
    background-size: cover;
  }
